* {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify {
  justify-content: space-evenly;
}

.container {
  width: 100%;
  box-sizing: border-box; /* Assicura che il padding sia incluso nella larghezza totale del contenitore */
}

/*NAV BAR*/

#home {
  background-color: #0000f3;
  height: 7rem;
  width: 100%;
}

.nav-menu li {
  padding: 1.3rem 2rem;
  list-style-type: none;
}

.nav-menu li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 480px) and (max-width: 700px) {
  .nav-menu li a {
    font-size: 1rem;
    font-weight: bold;
  }

  .nav-menu li {
    padding: 1rem 1.5rem;
  }

  #home {
    height: 5rem;
  }
}

@media screen and (min-width:375px) and (max-width: 479px) {
  .nav-menu li a {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .nav-menu li {
    padding: 1rem 1rem;
  }

  #home {
    height: 4rem;
  }
}

@media screen and (max-width: 374px) {
    .nav-menu li a {
        font-size: 0.8rem;
        font-weight: bold;
      }
    
      .nav-menu li {
        padding: 1rem 0.8rem;
      }

      #home {
        height: 3.5rem;
      }
}

/*HERO*/

#hero {
  background-color: #0000f3;
  color: white;
  height: 40rem;
  width: 100%;
}

.hero-1 h3 {
  font-size: 1.5rem;
  padding: 3rem 0 2rem 3rem;
}

.hero-2 h1 {
  font-size: 8.5rem;
  padding-left: 3rem;
}

.hero-3 p {
  font-size: 1.3rem;
  padding: 3rem 0 2rem 3rem;
  width: 70%;
}

@media screen and (min-width: 701px) and (max-width: 1180px) {
  .hero-2 h1 {
    font-size: 5.9rem;
  }

  #hero {
    height: 33rem;
  }
}

@media screen and (min-width: 580px) and (max-width: 700px) {
  .hero-1 h3 {
    font-size: 1.3rem;
    padding: 2rem 0 2rem 2rem;
  }

  .hero-2 h1 {
    font-size: 6.5rem;
    padding-left: 2rem;
  }

  .hero-3 p {
    font-size: 1.1rem;
    padding: 2rem 0 2rem 2rem;
  }

  #hero {
    height: 30rem;
  }
}

@media screen and (min-width: 440px) and (max-width: 579px) {
  .hero-1 h3 {
    font-size: 1rem;
    padding: 1.5rem 0 2rem 2rem;
  }

  .hero-2 h1 {
    font-size: 5rem;
    padding-left: 1.5rem;
  }

  .hero-3 p {
    font-size: 1rem;
    padding: 1.5rem 0 2rem 2rem;
    font-weight: bold;
  }

 #hero {
    height: 29rem;
  }
}

@media screen and (min-width: 365px) and (max-width: 439px) {
    .hero-1 h3 {
        font-size: 1rem;
        padding: 1rem 0 2rem 1.5rem;
      }
    
      .hero-2 h1 {
        font-size: 4rem;
        padding-left: 1.5rem;
      }
    
      .hero-3 p {
        font-size: 1rem;
        padding: 2rem 0 2rem 1.5rem;
        font-weight: bold;
      }

      #hero {
        height: 28rem;
      }
}

@media screen and (max-width: 364px) {
    .hero-1 h3 {
        font-size: 0.9rem;
        padding: 1rem 0 2rem 1rem;
      }
    
      .hero-2 h1 {
        font-size: 3.5rem;
        padding-left: 1rem;
      }
    
      .hero-3 p {
        font-size: 1rem;
        padding: 2rem 0 2rem 1rem;
        font-weight: bold;
      }

      #hero {
        height: 28rem;
      }
}

@media screen and (max-width: 439px) {
    .hero-1 h3 {
        font-size: 0.9rem;
        padding: 1rem 0 2rem 1rem;
      }
    
      .hero-2 h1 {
        font-size: 3.5rem;
        padding-left: 1rem;
      }
    
      .hero-3 p {
        font-size: 1rem;
        padding: 2rem 0 2rem 1rem;
        font-weight: bold;
      }
}

/*ABOUT*/

#about {
  background-color: white;
  width: 100%;
}

.about-padding {
  padding: 7rem 0;
}

.about-1 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-1 h2 {
  font-size: 3.5rem;
  color: #0000f3;
}

.about-2 {
  width: 60%;
}

.about-2 p {
  padding: 1rem 4rem;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.button {
  padding-top: 1rem;
}

.button-style {
  background-color: #0000f3;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
}

.button :hover {
  background-color: #00008c;
}

.button :active {
  background-color: #5205ff;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .about-padding {
    padding: 5rem 0;
  }

  .about-1 {
    width: 100%;
  }

  .about-2 {
    width: 100%;
  }

  .about-2 p {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 440px) and (max-width: 599px) {
    .about-padding {
        padding: 3rem 0;
      }
    
      .about-1 {
        width: 100%;
      }

      .about-1 h2 {
        font-size: 3rem;
      }
    
      .about-2 {
        width: 100%;
      }

      .about-2 p {
        padding: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: bold;
      }
}

@media screen and (max-width: 439px) {
    .about-padding {
        padding: 2rem 0;
      }
    
      .about-1 {
        width: 100%;
      }

      .about-1 h2 {
        font-size: 2.5rem;
      }
    
      .about-2 {
        width: 100%;
      }

      .about-2 p {
        padding: 1rem;
        line-height: 1.5em;
        font-size: 0.9rem;
        font-weight: bold;
      }

      .button-style {
        font-size: 0.8rem;
      }
}
/*PROJECTS*/

.bg-color-projects {
  color: #0000f3;
  padding: 5rem;
  font-size: 3.5rem;
  text-align: center;
}

.flex-projects {
  display: flex;
  align-items: center;
}

.flex-projects div img {
  width: 100%;
}

.flex-50 {
  width: 50%;
}

.projects-1 h3 {
  font-size: 2.5rem;
  margin: 2rem 2rem 1rem 2rem;
}

.projects-1 p {
  margin: 0 2rem 2rem 2rem;
  line-height: 1.7rem;
}

.button-2 {
  margin-left: 2rem;
}

.button-2 :hover {
  background-color: #00008c;
}

.button-2 :active {
  background-color: #5205ff;
}

.display-projects {
  display: none;
}

@media screen and (max-width: 768px) {
  .flex-50 {
    width: 100%;
  }

  .flex-projects {
    flex-direction: column;
  }

  .button-2 {
    text-align: center;
  }

  .display-none-projects {
    display: none;
  }

  .display-projects {
    display: contents;
  }
}

/*SKILLS  */

#skills {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-1 {
  font-size: 3.5rem;
  color: #0000f3;
  text-align: center;
  margin-bottom: 3rem;
}

.skills-2 {
  width: 80%;
  display: flex;
  align-items: center;
  margin-inline: auto;
  margin-bottom: 3rem;
}

.button-skills button {
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 0;
  width: 15%;
  color: #0000f3;
}

.flex-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.button-skills :hover {
  background-color: #00008c;
  color: white;
}

.button-skills :active {
  background-color: #5205ff;
  color: white;
}

@media screen and (max-width: 768px) {
  .button-skills button {
    width: calc(
      33.33% - 1rem
    ); /* calcola il 33.33% della larghezza del contenitore meno un margine */
    margin-right: 1rem; /* margine tra i bottoni */
    margin-bottom: 2rem; /* margine tra le righe di bottoni */
  }

  #skills {
    height: 30rem;
  }
}

@media screen and (max-width: 440px){
    .button-skills button {
        width: calc(
          50% - 1rem
        ); /* calcola il 33.33% della larghezza del contenitore meno un margine */
        margin-right: 1rem; /* margine tra i bottoni */
        margin-bottom: 2rem; /* margine tra le righe di bottoni */
    }

    .skills-1 {
        padding-top: 5rem;
        font-size: 3rem;
    }
}

/*@media screen and (max-width: 650px) and (orientation: landscape) {
    #skills {
        height: fit-content;
    }
}*/

/*client reviews*/

#reviews {
  background-color: #5205ff;
  color: white;
}

.reviews-1 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-1 h2 {
  font-size: 3.5rem;
  text-align: center;
}

.reviews-2 {
  width: 60%;
  display: flex;
  justify-content: center;
}

.reviews-2 p {
  padding: 6rem 2rem;
  line-height: 1.7rem;
  width: 80%;
  align-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 1100px) {
  .reviews-1 h2 {
    font-size: 2.8rem;
  }

  .reviews-2 p {
    padding: 5rem 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px){
    .reviews-1 {
        width: 100%;
        padding-top: 2rem;
    }

    .reviews-2 {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .reviews-1 h2 {
        font-size: 2.5rem;
    }

    .reviews-2 p {
        font-size: 0.9rem;
    }
}

/*contacts*/

.contacts-1 {
  width: 60%;
}

.contacts-1 h2 {
  font-size: 1.5rem;
  color: #0000f3;
  padding: 3rem 0 0.5rem 3rem;
}

.contacts-1 p {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0 0 3rem 3rem;
}

.contacts-2 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-2 ul {
  list-style-type: none;
  display: flex;
}

.contacts-2 ul li {
  margin-right: 3rem;
}

@media screen and (min-width: 551px) and (max-width: 700px) {
  .contacts-1 p {
    font-size: 2rem;
    padding: 0 0 3rem 2rem;
  }

  .contacts-1 h2 {
    padding: 3rem 0 0.5rem 2rem;
  }

  .contacts-2 i {
    font-size: 1.4rem;
  }

  .contacts-2 ul li {
    margin-right: 2rem;
  }
}

@media screen  and (min-width: 431px) and (max-width: 550px) {
 
  .contacts-1 p {
    font-size: 1.8rem;
    padding: 0 0 3rem 1rem;
  }

  .contacts-1 h2 {
    padding: 3rem 0 0.5rem 1rem;
    font-size: 1.4rem;
  }

  .contacts-2 i {
    font-size: 1.3rem;
  }

  .contacts-2 ul li {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .contacts-1 p {
    font-size: 1.8rem;
    padding: 0 0 3rem 1rem;
  }

  .contacts-1 h2 {
    padding: 3rem 0 0.5rem 1rem;
    font-size: 1.4rem;
  }

  .contacts-1 {
    width: 100%;
  }
  
  .contacts-2 {
    display: none;
  }

}

/*footer*/

footer {
  background-color: #161125;
  color: white;
  padding: 1rem 1rem;
}

.footer-link {
  display: flex;
  align-items: center;
  width: 50%;
}

footer nav ul li a {
  text-decoration: none;
  color: white;
  justify-content: center;
}

footer nav ul {
  list-style-type: none;
  display: flex;
}

footer nav ul li {
  margin-inline: 1rem;
}

footer nav ul li:first-child {
  margin-inline-start: 0; /* Rimuove il margine dall'inizio del primo elemento della lista */
}

footer nav ul li:last-child {
  margin-inline-end: 0; /* Rimuove il margine dalla fine dell'ultimo elemento della lista */
}

.copy {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  footer {
    padding: 1rem 0.5rem;
  }

  footer nav ul li {
    margin-inline: 0.5rem;
  }

  .copy p {
    font-size: 0.9rem;
  }

  footer nav ul li a {
    font-size: 0.9rem;
  }
}


@media screen and (min-width: 550px) and (max-width:650px) {
    footer {
        padding: 1rem 0.2rem;
      }
    
      footer nav ul li {
        margin-inline: 0.3rem;
      }
    
      .copy p {
        font-size: 0.8rem;
      }
    
      footer nav ul li a {
        font-size: 0.8rem;
      }
}

@media screen and (max-width:549px) {
    footer {
        padding: 1rem 0.2rem;
      }
    
      .copy p {
        font-size: 0.7rem;
      }

      .footer-link {
        display: none;
      }

      .copy {
        width: 100%;
      }
}